#默认可覆盖
dows:
  ods:
    pointcuts:
      - clazz: org.dows.ods.demo.DemoBiz
        methods:
          - enable: true
            name: completeExp
            formMethod: getExperimentRestult
            toMethod: saveOperateRecordData
            endpointId: hnilab
    # 通道名端点配置
    endpoints:
      - id: hnilab
        channel: hnilab
        type: http
        enable: false
        env: test
        appId: 3dfe80096e234a3798d05d3f0bd6610e01a1e53b855a4e0b94c36edec31b5217
        appSecret: 6CE2715036F894F8F48BD85C1335D74D0083A36133C6282B26610E2DB7ED89A3A08F286AF4FF5E620CAE48B8CCD09B5B3657E364087C2F22285BEDDE00C8A95799C46201162E8808
        apis:
          checkToken: get:/api/OpenData/CheckToken
          getToken: post:/api/OpenData/GetToken
          getUserInfo: put:/api/OpenData/GetUserInfo
          saveOperateRecordData: /api/OpenData/SaveOperateRecordData
        envs:
          - name: test
            host: https://testweb.hnilab.com/
            port:
            username:
            token:
          - name: prd
            host: https://www.hnilab.com/
            port:
            username:
            token:

      - id: hnilab
        type: http
        channel: gpm.findsoft
        enable: false
        env: test
        appId:
        appSecret:
        apis:
          checkToken:
          getToken:
          getUserInfo:
          saveOperateRecordData:
        envs:
          - name: test
            host: http://gpm.findsoft.com/register
            port: 3306
            username: root
            token: root
          - name: prd
            host: http://gpm.findsoft.com/register
            port: 3306
            username: root
            token: root

      - id: hnilab
        type: jdbc
        channel: gpm-findsoft
        enable: false
        env: test
        appId:
        appSecret:
        apis:
          getExperimentRestult: sql://select exp_name as projectName, from experiment_result where stu_id=:stuId and exp_id=:exp_id
          #getOperateStep: sql://select exp_name as  from experiment_result where stu_id=:stuId and exp_id=:exp_id
        envs:
          - name: test
            host: jdbc:mysql://192.168.1.60:3306/dows_ods?serverTimezone=GMT%2B8&autoReconnect=true&allowMultiQueries=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
            port: 3306
            username: root
            token: root
          - name: prd
            host: jdbc:mysql://192.168.1.61:3306/dows_ods?serverTimezone=GMT%2B8&autoReconnect=true&allowMultiQueries=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false
            port: 3306
            username: root
            token: root